@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1706081457043') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before {
  content: "\e655";
}

.icon-one-line-arrow:before {
  content: "\e61c";
}

.icon-xie-jiantou:before {
  content: "\e635";
}

.icon-line:before {
  content: "\e653";
}

.icon-icon-yuanzhuti:before {
  content: "\e617";
}

.icon-cloud:before {
  content: "\e7d9";
}

.icon-hexagon:before {
  content: "\e7a0";
}

.icon-diamond:before {
  content: "\e801";
}

.icon-circle:before {
  content: "\e615";
}

.icon-square:before {
  content: "\e62a";
}

.icon-container:before {
  content: "\e6e8";
}

.icon-cube:before {
  content: "\e812";
}

.icon-rectangle:before {
  content: "\e88e";
}

.icon-dashed-line:before {
  content: "\e64a";
}

.icon-lashen:before {
  content: "\e645";
}

.icon-ellipse:before {
  content: "\e7b8";
}

.icon-right-triangle:before {
  content: "\e7c4";
}

.icon-basepermissionapproveProcess:before {
  content: "\e636";
}

.icon-toolbar_icon_jiantou:before {
  content: "\e61d";
}

.icon-line-dotted:before {
  content: "\eccc";
}

.icon-TiDB:before {
  content: "\e654";
}

.icon-wenzi:before {
  content: "\e9f5";
}

.icon-trapezoid:before {
  content: "\e68f";
}

.icon-textedit_curve:before {
  content: "\e838";
}

